WebServices/CalculatorWebApplication/Service References/CalculatorService/CalculatorWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pragimtech.com/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pragimtech.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pragimtech.com/webservices">
      <s:element name="add_x0020_two_x0020_numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="add_x0020_two_x0020_numbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="add_x0020_two_x0020_numbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="thirdNum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalculations">
        <s:complexType />
      </s:element>
      <s:element name="GetCalculationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalculationsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="add_x0020_two_x0020_numbersSoapIn">
    <wsdl:part name="parameters" element="tns:add_x0020_two_x0020_numbers" />
  </wsdl:message>
  <wsdl:message name="add_x0020_two_x0020_numbersSoapOut">
    <wsdl:part name="parameters" element="tns:add_x0020_two_x0020_numbersResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetCalculationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCalculations" />
  </wsdl:message>
  <wsdl:message name="GetCalculationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCalculationsResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatorWebServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input name="add_x0020_two_x0020_numbers" message="tns:add_x0020_two_x0020_numbersSoapIn" />
      <wsdl:output name="add_x0020_two_x0020_numbers" message="tns:add_x0020_two_x0020_numbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculations">
      <wsdl:input message="tns:GetCalculationsSoapIn" />
      <wsdl:output message="tns:GetCalculationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorWebServiceSoap" type="tns:CalculatorWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://pragimtech.com/webservices/add two numbers" style="document" />
      <wsdl:input name="add_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="add_x0020_two_x0020_numbers">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://pragimtech.com/webservices/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculations">
      <soap:operation soapAction="http://pragimtech.com/webservices/GetCalculations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorWebServiceSoap12" type="tns:CalculatorWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://pragimtech.com/webservices/add two numbers" style="document" />
      <wsdl:input name="add_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="add_x0020_two_x0020_numbers">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://pragimtech.com/webservices/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculations">
      <soap12:operation soapAction="http://pragimtech.com/webservices/GetCalculations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorWebService">
    <wsdl:port name="CalculatorWebServiceSoap" binding="tns:CalculatorWebServiceSoap">
      <soap:address location="http://localhost:28396/CalculatorWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculatorWebServiceSoap12" binding="tns:CalculatorWebServiceSoap12">
      <soap12:address location="http://localhost:28396/CalculatorWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>